body {
background-image: url('roses.jpg');
}
.home {
  background-color: gold
}
.spacehey {
  background-color: blue
}
.forum {
  background-color: orange
}
h1,h2,h3,p,h4,h5,h6,button {
color: white
}
