body {
background-image: url('roses.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
}
.home {
  background-color: gold
}
.spacehey {
  background-color: indigo
}
.forum {
  background-color: orange
}
.blogs {
background-color: blue
}
.games {
background-color: green
}
.apps {
background-color: red
}
.search {
background-color: purple
}
.spyglass {
width: 20
height: 20
}
h1,h2,h3,p,h4,h5,h6,button {
color: white
}
button {
background-color: darkgrey
}
